.item-tab {
    flex: 1;
    color: white;
    text-align: center;
    text-decoration: none;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.not-selected {
    background: rgb(13,109,121);
    border-style: none solid solid none;
    border-color: rgb(73, 175, 189);
}

.left-selected,
.last-item {
    background: rgb(13,109,121);
    border-style: none none solid none;
    border-color: rgb(73, 175, 189);
}

.selected {
    position: relative;
    background: rgb(221, 120, 35);
    border-style: none solid solid solid;
    border-color: rgb(183, 223, 228);
}

.tab--name {
    position: absolute;
    bottom: 10px;
    font-weight: 500;
    letter-spacing: 1px;
}

.tab--icon {
    position: absolute;
    top: 20px;
}
