.section--bottom--animation {
    animation-name: moveInBottom;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
}

.section--up--animation {
    animation-name: moveInUp;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
}

.dynamicsection--bottom--animation {
    animation-name: moveInBottom;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
}

.dynamicsection--up--animation {
    animation-name: moveInUp;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
}

.section--right--animation {
    animation-name: moveInRight;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
}

.section--left--animation {
    animation-name: moveInLeft;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
}

.section--rotate--animation {
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.keyboard--bottom--in--animation {
    animation-name: moveInBottomKeyboard;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
}

@keyframes moveInBottomKeyboard {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.keyboard--bottom--out--animation {
    animation-name: moveOuutBottomKeyboard;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
}

@keyframes moveInBottomKeyboard {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes moveOuutBottomKeyboard {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes moveInUp {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes moveInBottom {
    0% {
        transform: translateY(200%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes moveInLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes rotateIn {
    0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -200deg);
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 1;
    }

    100% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}
