a {
  text-decoration: none;
}
.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.loadingAnimation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.laodingContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #058c9b;
}

.loadingTitle {
  text-align: center;
  padding-top: 30%;
  color: white;
}
