@import './sass/animation.scss';

a {
    text-decoration: none;
}
.App {
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.loadingContainer {
    height: 1920px;
    width: 1080px;
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-rows: 1fr 500px 1fr;
    background-color: #058c9b;
    text-align: center;
    color: white;
    font-size: 60px;
    letter-spacing: 10px;
}

.loading {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    &--title {
        padding: 0;
        margin: 0;
    }
}
